@tailwind base;
@tailwind components;
@tailwind utilities;

$accent-blue: #2f81f7; // Thanks Github

/*/ :root {

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

}

body {

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

} /*/

@layer utilities {
  .word-break-all {
    word-break: break-all;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

// Accessibility

html, body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
  background: transparent;
  width: 0px;
  height: 0px;
}

a, button {
  @apply outline-none #{!important};
  @apply focus-visible:ring-2 #{!important};
  @apply focus-visible:ring-white;
  @apply focus-visible:ring-offset-2 #{!important};
  @apply focus-visible:ring-offset-background #{!important};
  @apply rounded-sm;
}

.no-ring {
  @apply ring-0 #{!important};
  @apply ring-offset-0 #{!important};
  @apply focus-visible:ring-0 #{!important};
  @apply focus-visible:ring-offset-0 #{!important};
}

p {
  @extend .subtitle;
}

code {
  @apply font-IBM_PLEX_MONO;
  @apply text-sm;
}

.code-block {
  @apply font-IBM_PLEX_MONO;
  @apply text-sm;
  @apply text-gray-300;
  @apply p-4;
  @apply bg-card;
  @apply rounded-lg;
}

// Main

.navlink {
  @apply font-medium;
  @apply text-sm;
  @apply text-white;
  @apply decoration-2; 
  @apply transition-all;
  @apply bg-card-light;
  @apply hover:bg-border;
  @apply active:bg-card;  
  @apply px-3;
  @apply py-2;
  @apply border-1;
  @apply border-border;
  @apply hover:border-border;
  @apply active:border-border;
  @apply rounded-lg;
  @apply flex;
  @apply gap-1.5;
  @apply items-center;
  @apply w-fit;
  @apply outline-none;
  @apply select-none;
}

.navlink.raised {
  @apply shadow-lg;
}

.navlink-emphasis {
  @extend .navlink;
  @apply bg-transparent;
  @apply hover:bg-border;
  @apply hover:border-white;
  @apply focus:border-white;
  @apply font-medium;
  @apply text-gray-300;
  @apply hover:text-white;
  @apply focus:text-white;
  @apply border-2;
  @apply outline-0;
  @apply focus-visible:outline-0;
}

.navlink:disabled {
  @apply text-gray-400;
  @apply bg-card;
  @apply cursor-not-allowed;
  @apply border-border #{!important};
}

.navlink[data-navlink-enabled="true"] {
  @apply border-border-light;
  @apply bg-border;
}

.navlink-ghost {
  @extend .navlink;
  @apply bg-transparent;
  @apply hover:bg-border;
  @apply focus:bg-border;
  @apply border-0;
}

.navlink-ghost:disabled {
  @apply hover:bg-card;
}

.navlink-full {
  @extend .navlink;
  @apply bg-white;
  @apply text-black;
  @apply hover:bg-neutral-300;
  @apply active:bg-neutral-400;
  @apply border-0;
}

.navlink-full.icon {
  @apply p-2;
}

.navlink-full:disabled {
  @apply bg-neutral-400;
  @apply hover:bg-neutral-400;
  @apply hover:cursor-not-allowed;
  @apply border-neutral-400;
  @apply text-black;
}

.navlink.small, .navlink-full.small, .navlink-destructive.small, .navlink-emphasis.small, .navlink-ghost.navlink.small {
  @apply py-1 #{!important};
  @apply px-2;
  @apply text-xs #{!important};
  @apply rounded-md #{!important};
}

.navlink-destructive {
  @extend .navlink;
  @apply bg-red-500;
  @apply hover:bg-red-600;
  @apply active:bg-red-700;
  @apply border-0;
  @apply transition-all;
  @apply text-white #{!important};
}

.navlink-destructive:disabled {
  @apply bg-red-800;
  @apply hover:bg-red-800;
  @apply hover:cursor-not-allowed;
  @apply border-red-800;
  @apply text-gray-400 #{!important};
}

.navlink-sidebar {
  @extend .navlink;
  @apply h-fit;
  @apply w-full;
  @apply bg-transparent;
  @apply border-0;
  @apply w-full;
  @apply py-2;
  @apply px-3;
  @extend .subtitle;
  @apply hover:text-white #{!important};
  @apply hover:border-0;
  @apply focus:border-0;
  @apply active:bg-border;
  @apply ring-0 #{!important};
  @apply ring-offset-0 #{!important};
  @apply border-transparent;
  @apply relative;
}

.navlink-sidebar.active {
  @apply bg-border;
  @apply text-white #{!important};
  @apply border-1 #{!important};
  @apply border-border-light #{!important};
}

.navlink-sidebar.after-active {
  @apply text-white #{!important};  
  @apply ring-0 #{!important};
  @apply bg-border #{!important};
}

.navlink-sidebar.after-active::after {
  content: "";
  width: 2px;
  height: 20px;
  background-color: white;
  position: absolute;
  left: -4px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.topbar-link {
  @apply text-sm;
  @apply hover:text-white #{!important};
  @apply transition-all;
  @apply hidden;
  @apply lg:flex;
  @apply relative;
  @apply px-3;
  @apply py-2;
  @apply rounded-lg;
  @extend .subtitle;
}

.topbar-link.active {
  @apply text-white #{!important};
  @apply bg-border;
}

.topbar-link.active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: -13px;
  left: 0;
  border-radius: 6px;
  transition: all;
}

.topbar-item {
  @apply text-gray-300;
  @apply hover:text-white;
  @apply transition-all;
  @apply p-1.5; 
  @apply rounded-md;
  @apply hover:bg-card;

  &.active {
    @apply text-white;
    @apply bg-border;
  }

}

.dropdown-menu {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.dropdown-menu.open {
  max-height: 200px;
  transition: all 0.3s ease-in;
}


.link_bg-t-full {
  @extend .navlink;
  width: 100% !important;
}

.pos-unset {
  position: unset !important;
}

textarea,
input {
  @apply bg-background;
  @apply rounded-lg;
  @apply h-9;
  @apply px-2;
  @apply outline-none #{!important};
  @apply border-1;
  @apply border-border;
  @apply focus:border-white;
  @apply transition-all;
  @extend .subtitle;
}

.generic_field.errored, textarea.errored, .generic_field.error, textarea.error {
  @apply ring-2;
  @apply ring-red-300;
}

.generic_field:disabled {
  @apply text-gray-300;
  @apply cursor-not-allowed;
}

.required::after {
  content: "*";
  @apply text-red-300;
}

.bottombar-link {
  @apply hover:text-gray-400;
  @apply transition-all;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;
  @apply w-full;
  @apply px-2;
  @apply py-2;
  @apply rounded-lg;
  @apply overflow-hidden;
  @apply font-bold;
  @apply text-zinc-400;
}

input[type="checkbox"] {
  @apply bg-card;
  @apply outline-none;
  @apply border-1;
  @apply border-border;
  @apply w-5;
  @apply h-5;
  @apply rounded;
  @apply p-0;
  appearance: none;
}

input[type="checkbox"]:hover {
  @apply bg-card-light;
}

input[type="checkbox"]:checked {
  background-size: cover;
}

input[type="checkbox"]:not(:disabled):checked {
  @apply bg-white;
  @apply border-white;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4"><path fill-rule="evenodd" d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" /></svg>');
}

.bottombar-link p {
  @apply text-xs;
}

.bottombar-link.active {
  @apply text-white;
}

.btn-dropdown:disabled {
  @apply bg-zinc-950;
  @apply hover:border-zinc-800;
  @apply cursor-not-allowed;
  @apply text-gray-300;
}

.spinner {
  @apply animate-spin;
}

.label {
  @apply rounded-full;
  @apply w-fit;
  @apply border-border;
  @apply transition-all;
  @apply border-1;
  @apply bg-card;
  @apply h-fit;
  @apply text-xs;
  @apply px-2.5;
  @apply py-0.5;
  @apply flex;
  @apply gap-1;

  &.success {
    @apply text-green-400;
    @apply bg-green-500/20;
    @apply border-green-500/30;
  }

  &.failure {
    @apply text-red-400;
    @apply bg-red-500/20;
    @apply border-red-500/30;
  }

  &.gray {
    @apply text-white;
    @apply bg-neutral-500/20;
    @apply border-neutral-500/30;
  }

}

// MD

.markdown-body, .wmde-markdown {
  @apply bg-background;
}

.markdown-body *, .wmde-markdown * {
  @apply font-inter;
}

.markdown-body a, .wmde-markdown a {
  @apply underline;
  @apply hover:no-underline;
}

.markdown-body blockquote,
.wmde-markdown blockquote {
  @apply bg-transparent #{!important};
  @apply hover:text-white;
  @apply transition-all;
  @apply hover:border-white #{!important};
  @extend .subtitle;
}

.markdown-body hr,
.wmde-markdown hr {
  @apply border-border #{!important};
  @apply border-0 #{!important};
  @apply border-t-[1px] #{!important};
  @apply h-[1px] #{!important};
}

.markdown-body-var
.wmde-markdown-var,
.md-editor {
  @apply bg-card #{!important};
  @apply border-border #{!important};
  @apply border-1 #{!important};
}

.markdown-body h1,
.wmde-markdown h1 {
  @extend .header;
  @apply mt-2;
  @apply mb-2;
  @apply border-b-1;
  @apply border-border;
  @apply pb-1;
}

.markdown-body h2,
.wmde-markdown h2 {
  @extend .header-2;
  @apply mt-2;
  @apply mb-2;
  @apply border-b-1;
  @apply border-border;
  @apply pb-1;
}

.markdown-body h3,
.wmde-markdown h4 {
  @extend .header-3;
  @apply mt-2;
  @apply mb-2;
}

.markdown-body h4,
.wmde-markdown h4 {
  @extend .header-4;
  @apply mt-2;
  @apply mb-2;
}

.markdown-body h5,
.wmde-markdown h5 {
  @extend .header-5;
  @apply mt-2;
  @apply mb-2;
}

.markdown-body h6,
.wmde-markdown h6 {
  @extend .header-6;
  @apply mt-2;
  @apply mb-2;
}

.markdown-body p, li, {
  @extend .subtitle;
}

.wmde-markdown p, li {
  @extend .subtitle;
}

.markdown-body p, .wmde-markdown p {
  @apply mb-2;
  @extend .subtitle;
}

.markdown-body blockquote, .wmde-markdown blockquote {
  @apply py-1;
  @apply text-gray-300;
  @apply border-l-2;
  @apply border-border;
  @apply hover:border-white;
  @apply hover:text-white;
  @apply px-2;
}

.markdown-body img, .wmde-markdown img {
  @apply rounded-lg #{!important};
}

.markdown-body code,
.markdown-body > pre > code,
.markdown-body kbd,
.markdown-body pre {
  @apply font-IBM_PLEX_MONO;
}

.wmde-markdown code,
.wmde-markdown > pre > code,
.wmde-markdown kbd,
.wmde-markdown pre {
  @apply font-IBM_PLEX_MONO;
}

.markdown-body :not(pre) > code, .wmde-markdown :not(pre) > code {
  @apply bg-card;
  @apply border-border;
  @apply border-1;
  @apply px-1;
  @apply py-0.5;
  @apply rounded;
  @apply mb-2;
  @apply text-gray-300;
  @apply text-sm;
}

.markdown-body pre, .wmde-markdown pre {
  @apply bg-card;
  @apply border-border;
  @apply border-1;
  @apply px-2;
  @apply py-1;
  @apply rounded;
  @apply mb-2;
  @apply text-gray-300;
}

.markdown-body pre > code, .wmde-markdown pre > code {
  @apply text-xs;
}

.markdown-body kbd, .wmde-markdown kbd {
  @apply bg-border;
  @apply rounded;
  @apply border-border-light;
  @apply border-1;
  @apply shadow-sm;
  @apply text-gray-300;
  @apply px-1;
  @apply py-1;
  @apply whitespace-nowrap;
  @apply text-xs;
}

.markdown-body > *:first-child, .wmde-markdown > *:first-child {
  @apply mt-0 #{!important};
}

.markdown-body > *:last-child, .wmde-markdown > *:last-child {
  @apply mb-0 #{!important};
}

.markdown-body table, .wmde-markdown table {
  @apply border-collapse;
  @apply mb-2;
  @apply text-gray-300;
  @apply text-sm;
}

.markdown-body table th,
.markdown-body table td,
.wmde-markdown table th,
.wmde-markdown table td {
  @apply px-2;
  @apply py-1;
  @apply border-1;
  @apply border-border;
}

.markdown-body table th:first-of-type, .wmde-markdown table th:first-of-type {
  @apply rounded-tl #{!important};
}

.markdown-alert-title {
  @extend .subtitle;
}

.md-editor {
  @apply rounded-lg #{!important};
}

.md-editor-toolbar-warp {
  @apply border-b-border #{!important};
  @apply p-1.5 #{!important};
  @apply z-[999] #{!important};
}

.md-editor-toolbar-warp > .md-editor-toolbar > button {
  @apply text-gray-300 #{!important};
  @apply hover:text-white #{!important};
  @apply border-1 #{!important};
  @apply border-border #{!important};
  @apply hover:bg-border #{!important};
  @apply w-8 #{!important};
  @apply h-8 #{!important};
  @apply p-1.5 #{!important};
  @apply rounded-lg #{!important};
}

.md-editor-toolbar-warp > .md-editor-toolbar > button.active {
  @apply text-white #{!important};
  @apply bg-border #{!important};
}

.md-editor-preview {
  @apply bg-transparent #{!important};
}

.cm-editor {
  @apply bg-transparent;
}

.cm-gutters {
  @apply bg-transparent #{!important};
}

.cm-activeLine {
  @apply bg-border-light #{!important};
}

// hr

hr {

  @apply border-border;
  @apply mt-1;
  @apply mb-1;
  
}

.markdown-body {
  @apply bg-transparent #{!important};
}

.markdown-body > p > img {
  @apply rounded-lg;
}

// Loading

.post-loading-text {
  @apply text-lg;
}

// Text

.header {
  @apply text-3xl #{!important}; 
  @apply font-inter #{!important}; 
  @apply text-white #{!important};
  @apply font-bold #{!important}; 
}

.header-2 {
  @apply text-2xl #{!important}; 
  @apply font-inter #{!important};
  @apply text-white #{!important};
  @apply font-bold #{!important}; 
}

.header-3 {
  @apply text-xl #{!important}; 
  @apply font-inter #{!important};
  @apply text-white #{!important};
  @apply font-semibold #{!important}; 
}

.header-4 {
  @apply text-lg #{!important}; 
  @apply font-inter #{!important};
  @apply text-white #{!important};
  @apply font-semibold #{!important}; 
}

.header-5 {
  @apply text-base #{!important}; 
  @apply font-inter #{!important};
  @apply text-gray-300; 
  @apply font-bold; 
}

.header-6 {
  @apply text-sm #{!important}; 
  @apply font-inter #{!important};
  @apply text-white #{!important};
  @apply font-medium #{!important}; 
}

.subtitle {
  @apply text-gray-300;
  @apply font-medium #{!important};
  @apply text-sm;  
}

// Heroicon

.heroicon-sw-2 path {
  stroke-width: 2 !important;
}
.heroicon-sw-1\.75 path {
  stroke-width: 1.75 !important;
}
.heroicon-sw-1\.5 path {
  stroke-width: 1.5 !important;
}
.heroicon-sw-1\.2 path {
  stroke-width: 1.2 !important;
}