@tailwind base;
@tailwind components;
@tailwind utilities;

$accent-blue: #2f81f7; // Thanks Github

/*/ :root {

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

}

body {

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

} /*/

@layer utilities {
  .word-break-all {
    word-break: break-all;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

// Accessibility

a {
  @apply outline-none #{!important};
  @apply focus-visible:outline-2 #{!important};
  @apply focus-visible:outline-white #{!important};
}

// Main

.navlink {
  @apply font-normal;
  @apply text-sm;
  @apply text-white;
  @apply decoration-2; 
  @apply transition-all;
  @apply bg-transparent;
  @apply hover:bg-border;
  @apply focus:bg-border;  
  @apply px-3;
  @apply py-2;
  @apply border-1;
  @apply border-border;
  @apply hover:border-border-light;
  @apply focus:border-border-light;
  @apply rounded-md;
  @apply flex;
  @apply gap-1.5;
  @apply items-center;
  @apply w-fit;
  @apply outline-none;
  @apply focus-visible:border-1;
  @apply focus-visible:border-border-light;
  @apply focus-visible:bg-border;
}

.navlink.raised {
  @apply shadow-lg;
}

.navlink-emphasis {
  @extend .navlink;
  @apply bg-transparent;
  @apply hover:bg-border;
  @apply hover:border-white;
  @apply focus:border-white;
  @apply font-medium;
  @apply text-gray-300;
  @apply hover:text-white;
  @apply focus:text-white;
  @apply border-2;
  @apply outline-0;
  @apply focus-visible:outline-0;
}

.navlink:disabled {
  @apply text-gray-400;
  @apply hover:bg-transparent;
  @apply cursor-not-allowed;
  @apply border-border #{!important};
}

.navlink[data-navlink-enabled="true"] {
  @apply border-border-light;
  @apply bg-border;
}

.navlink-ghost {
  @extend .navlink;
  @apply bg-transparent;
  @apply hover:bg-border;
  @apply border-0;
}

.navlink-full {
  @extend .navlink;
  @apply bg-white;
  @apply text-black;
  @apply hover:bg-neutral-300;
  @apply focus:bg-neutral-300;
  @apply border-0;
}

.navlink-full.icon {
  @apply p-2;
}

.navlink-full:disabled {
  @apply bg-neutral-400;
  @apply hover:bg-neutral-400;
  @apply hover:cursor-not-allowed;
  @apply border-neutral-400;
  @apply text-black;
}

.navlink-small {
  @extend .navlink;
  @apply h-[30px];
}

.navlink-destructive {

  @extend .navlink;
  @apply bg-red-700;
  @apply hover:bg-red-600;
  @apply focus:bg-red-600;
  @apply border-0;
  @apply transition-all;
  @apply text-white #{!important};

}

.navlink-destructive:disabled {
  @apply bg-red-800;
  @apply hover:bg-red-800;
  @apply hover:cursor-not-allowed;
  @apply border-red-800;
  @apply text-white;
}

.navlink-success {

  @extend .navlink-full;
  @apply bg-green-600;
  @apply hover:bg-green-700;
  @apply text-white;

}

.navlink-sidebar {

  @extend .navlink;
  @apply h-fit;
  @apply w-full;
  @apply bg-transparent;
  @apply border-0;
  @apply w-full;
  @apply p-2.5;
  @extend .subtitle;
  @apply hover:text-white #{!important};
  @apply hover:border-0;
  @apply focus:border-0;
  @apply border-transparent;
  @apply relative;

}

.navlink-sidebar.active {

  @apply bg-border;
  @apply text-white #{!important};
  @apply border-1 #{!important};
  @apply border-border-light #{!important};

}

.navlink-sidebar.after-active {
  @apply text-white #{!important};  
  @apply ring-0 #{!important};
  @apply bg-border #{!important};
}

.navlink-sidebar.after-active::after {
  content: "";
  width: 2px;
  height: 20px;
  background-color: white;
  position: absolute;
  left: -4px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.topbar-link {

  @apply text-sm;
  @apply hover:text-white #{!important};
  @apply transition-all;
  @apply hidden;
  @apply lg:flex;
  @apply relative;
  @apply px-3;
  @apply py-2;
  @apply rounded-md;
  @extend .subtitle;

}

.topbar-link.active {

  @apply text-white #{!important};
  @apply bg-border;

}

.topbar-link.active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: white;
  position: absolute;
  bottom: -13px;
  left: 0;
  border-radius: 6px;
  transition: all;
}

.dropdown-menu {

  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;

}

.dropdown-menu.open {
    
  max-height: 200px;
  transition: all 0.3s ease-in;

}


.link_bg-t-full {

  @extend .navlink;
  width: 100% !important;

}

.pos-unset {

  position: unset !important;

}

.generic_field {

  @apply bg-transparent;
  @apply rounded-md;
  @apply h-9;
  @apply px-2;
  @apply outline-none;
  @apply border-1;
  @apply border-border;
  @apply focus:border-border-light;
  @apply ring-border-light;
  @apply focus:ring-2;
  @apply transition-all;
  @extend .subtitle;

}

.generic_field.errored {

  @apply ring-2;
  @apply ring-red-300;

}

.generic_field:disabled {
  @apply text-gray-300;
  @apply cursor-not-allowed;
}

.bottombar-link {

  @apply hover:text-gray-400;
  @apply transition-all;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;
  @apply w-full;
  @apply px-2;
  @apply py-2;
  @apply rounded-lg;
  @apply overflow-hidden;
  @apply font-bold;
  @apply text-zinc-400;

}

.bottombar-link p {

  @apply text-xs;

}

.bottombar-link.active {

  @apply text-white;

}

.btn-dropdown:disabled {

  @apply bg-zinc-950;
  @apply hover:border-zinc-800;
  @apply cursor-not-allowed;
  @apply text-gray-300;

}

.spinner {

  @apply animate-spin;

}

.label {
  @apply rounded-full;
  @apply w-fit;
  @apply border-border;
  @apply transition-all;
  @apply border-1;
  @apply bg-card;
  @apply h-fit;
  @apply text-xs;
  @apply px-2.5;
  @apply py-0.5;
  @apply flex;
  @apply gap-1;

  &.success {
    @apply text-green-400;
    @apply bg-green-500/20;
    @apply border-green-500/30;
  }

  &.failure {
    @apply text-red-400;
    @apply bg-red-500/20;
    @apply border-red-500/30;
  }

  &.gray {
    @apply text-white;
    @apply bg-neutral-500/20;
    @apply border-neutral-500/30;
  }

}

// MD

.wmde-markdown {
  @apply bg-transparent #{!important};
}

.wmde-markdown * {
  @apply font-inter;
}

.wmde-markdown blockquote {
  @apply bg-transparent #{!important};
  @apply hover:text-white;
  @apply transition-all;
  @apply hover:border-white #{!important};
  @extend .subtitle;
}

.wmde-markdown hr {
  @apply border-border #{!important};
  @apply border-0 #{!important};
  @apply border-t-[1px] #{!important};
  @apply h-[1px] #{!important};
}

.wmde-markdown-var {
  @apply bg-card #{!important};
  @apply border-border #{!important};
  @apply border-1 #{!important};
}

.wmde-markdown h1 {
  @extend .header;
}

.wmde-markdown h2 {
  @extend .header-2;
}

.wmde-markdown h3 {
  @extend .header-3;
}

.wmde-markdown h4 {
  @extend .header-4;
}

.wmde-markdown h5 {
  @extend .header-5;
}

.wmde-markdown h6 {
  @extend .header-6;
}

.wmde-markdown p, li, {
  @extend .subtitle;
}

.wmde-markdown img {
  @apply rounded-md #{!important};
}

.markdown-alert-title {
  @extend .subtitle;
}

.md-editor {
  @apply rounded-md #{!important};
}

.md-editor-toolbar-warp {
  @apply border-b-border #{!important};
  @apply p-1.5 #{!important};
  @apply z-[999] #{!important};
}

.md-editor-toolbar-warp > .md-editor-toolbar > button {
  @apply text-gray-300 #{!important};
  @apply hover:text-white #{!important};
  @apply border-1 #{!important};
  @apply border-border #{!important};
  @apply hover:bg-border #{!important};
  @apply w-8 #{!important};
  @apply h-8 #{!important};
  @apply p-1.5 #{!important};
  @apply rounded #{!important};
}

.md-editor-toolbar-warp > .md-editor-toolbar > button.active {
  @apply text-white #{!important};
  @apply bg-border #{!important};
}

.md-editor-preview {
  @apply bg-transparent #{!important};
}

.cm-editor {
  @apply bg-transparent;
}

.cm-gutters {
  @apply bg-transparent #{!important};
}

.cm-activeLine {
  @apply bg-border-light #{!important};
}

// hr

hr {

  @apply border-border;
  @apply mt-1;
  @apply mb-1;
  
}

.markdown-body {

  @apply bg-transparent #{!important};
  @apply rounded-md;
  @apply *:rounded-md;

}

.markdown-body > p > img {

  @apply rounded-md;

}

// Loading

.post-loading-text {

  @apply text-lg;

}

// Text

.header {

  @apply text-3xl #{!important}; 
  @apply font-inter #{!important}; 
  @apply text-white #{!important};
  @apply font-bold #{!important}; 
  @apply antialiased #{!important};

}

.header-2 {

  @apply text-2xl #{!important}; 
  @apply font-inter #{!important};
  @apply text-white #{!important};
  @apply font-bold #{!important}; 
  @apply antialiased #{!important};

}

.header-3 {

  @apply text-xl #{!important}; 
  @apply font-inter #{!important};
  @apply text-white #{!important};
  @apply font-semibold #{!important}; 
  @apply antialiased #{!important};

}

.header-4 {

  @apply text-lg #{!important}; 
  @apply font-inter #{!important};
  @apply text-white #{!important};
  @apply font-semibold #{!important}; 
  @apply antialiased #{!important};

}

.header-5 {

  @apply text-lg #{!important}; 
  @apply font-inter #{!important};
  @apply text-gray-300; 
  @apply font-bold; 
  @apply antialiased;

}

.header-6 {

  @apply text-base #{!important}; 
  @apply font-inter #{!important};
  @apply text-white #{!important};
  @apply font-medium #{!important}; 
  @apply antialiased #{!important};

}

.subtitle {

  @apply text-gray-300 #{!important};
  @apply font-medium #{!important};
  @apply antialiased #{!important};
  @apply text-sm #{!important};  

}

// Heroicon

.heroicon-sw-2 path {
  stroke-width: 2 !important;
}
.heroicon-sw-1\.75 path {
  stroke-width: 1.75 !important;
}
.heroicon-sw-1\.5 path {
  stroke-width: 1.5 !important;
}
.heroicon-sw-1\.2 path {
  stroke-width: 1.2 !important;
}