@tailwind base;
@tailwind components;
@tailwind utilities;

$accent-blue: #0284c7;

/*/ :root {

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

}

body {

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

} /*/

.navlink {

  @apply font-normal;
  @apply text-sm;
  @apply text-white;
  @apply decoration-2 transition-all;
  @apply bg-[#1F1F1F];
  @apply hover:bg-zinc-800;
  @apply px-3;
  @apply py-2;
  @apply border-[1px];
  @apply border-zinc-800;
  @apply hover:border-zinc-500;
  @apply rounded;
  @apply flex;
  @apply gap-1.5;
  @apply items-center;
  @apply w-fit;

  // facebookTheme

  @apply facebookTheme:text-white;
  
  @apply facebookTheme:rounded-none;

  @apply facebookTheme:border-[#999];
  @apply facebookTheme:border-[1px];
  @apply facebookTheme:border-b-[#888];
  @apply facebookTheme:shadow-facebook_bs;

  @apply facebookTheme:font-bold;
  @apply facebookTheme:text-[11px];

  @apply facebookTheme:pt-[2px];
  @apply facebookTheme:pb-[2px];
  @apply facebookTheme:pl-[6px];
  @apply facebookTheme:pr-[6px];

  @apply facebookTheme:min-w-0;
  @apply facebookTheme:min-h-0;

  @apply facebookTheme:text-black #{!important};
  @apply facebookTheme:no-underline #{!important};


  
  @apply facebookTheme:bg-[url(/themes/facebook/btn_back.png)];

  @apply facebookTheme:focus:border-[#000];
  @apply facebookTheme:transition-none;

  @apply facebookTheme:focus:bg-ddd #{!important};

}

.topnavlink p {
    
  @apply hidden;
  @apply md:flex;

}

/*/ .navlink:focus {

  box-shadow: 0 0 0 .25rem $accent-blue;

} /*/

.navlink-full {

  @extend .navlink;
  @apply bg-white;
  @apply text-black;
  @apply hover:bg-neutral-300;
  @apply border-white;

  // facebookTheme

  @apply facebookTheme:bg-[url(/themes/facebook/btn_back.png)];
  
  @apply facebookTheme:rounded-none;

  @apply facebookTheme:border-[#999];
  @apply facebookTheme:border-[1px];
  @apply facebookTheme:border-b-[#888];
  @apply facebookTheme:shadow-facebook_bs;

  @apply facebookTheme:font-bold;
  @apply facebookTheme:text-[11px];

  @apply facebookTheme:pt-[2px];
  @apply facebookTheme:pb-[2px];
  @apply facebookTheme:pl-[6px];
  @apply facebookTheme:pr-[6px];

  @apply facebookTheme:min-w-0;
  @apply facebookTheme:min-h-0;

  @apply facebookTheme:focus:bg-ddd #{!important};

}

.navlink-full:disabled {

  @apply bg-neutral-500;
  @apply hover:cursor-not-allowed;
  @apply border-neutral-500;

}

.navlink-small {

  @extend .navlink;
  @apply h-[30px];

}

.navlink-destructive {

  @extend .navlink;
  @apply text-red-500 #{!important};
  @apply hover:text-white #{!important};
  @apply focus:text-white #{!important};
  @apply hover:bg-red-700;
  @apply hover:border-red-500;
  @apply focus:bg-red-700;
  @apply focus:border-red-500;
  @apply transition-all;
  @apply text-white;
  @apply border-[1px];
  @apply border-zinc-800;

}

.navlink-success {

  @extend .navlink-full;
  @apply bg-[#5c7e10];
  @apply hover:bg-[#7ea64b];
  @apply text-white;

}

.navlink-sidebar {

  @extend .navlink;
  @apply h-8;
  @apply w-full;
  @apply bg-transparent;
  @apply border-0;
  @apply w-fit; 
  @apply lg:w-full;
  @apply mt-2;
  @apply mb-2;

  // facebookTheme

  @apply facebookTheme:bg-white #{!important};
  @apply facebookTheme:hover:bg-[#eff2f7];
  @apply facebookTheme:text-black;
  @apply facebookTheme:rounded-none;
  @apply facebookTheme:text-[11px];
  @apply facebookTheme:text-[#333];
  @apply facebookTheme:leading-[13px];
  @apply facebookTheme:pl-[8px];
  @apply facebookTheme:pr-[8px];
  @apply facebookTheme:pt-[3px];
  @apply facebookTheme:pb-[4px];
  @apply facebookTheme:h-[21px];
  @apply facebookTheme:transition-none;
  @apply facebookTheme:min-h-0;
  @apply facebookTheme:border-b-[1px];
  @apply facebookTheme:border-white;
  @apply facebookTheme:font-facebook_link;

}

a {
  @apply facebookTheme:text-[#3b5998];
  @apply facebookTheme:hover:underline;
  @apply facebookTheme:font-bold;
  @apply facebookTheme:text-[11px];
}

.navlink-sidebar.active {

  @apply bg-zinc-800;

  // facebookTheme

  @apply facebookTheme:bg-[#d8dfea];
  @apply facebookTheme:text-black;
  @apply facebookTheme:font-bold;

}

.topbar-link {

  @apply text-[16px];
  @apply font-semibold;
  @apply text-[#C5C3C0];
  @apply hover:text-white;
  @apply transition-all;
  @apply hidden;
  @apply lg:flex;
  @apply relative;

}

.topbar-link.active {

  @apply text-[#1a9fff];

}

.topbar-link::after {

  content: "";
  position: absolute;
  bottom: -1.5px;
  left: 50%;
  display: block;
  background-color: #1a9fff;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  border-radius: 3px;
  transition: width 0.15s ease-in-out;

}

.topbar-link.active::after {
  width: 100%;
}

.dropdown-menu {

  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-out;

}

.dropdown-menu.open {
    
  max-height: 200px;
  transition: all 0.3s ease-in;

}


.link_bg-t-full {

  @extend .navlink;
  width: 100% !important;

}

.pos-unset {

  position: unset !important;

}

.generic_field {

  @apply defaultTheme:bg-zinc-800;
  @apply defaultTheme:text-white;
  @apply defaultTheme:rounded-md;
  @apply defaultTheme:h-9;
  @apply defaultTheme:px-2;
  @apply defaultTheme:outline-none;
  @apply defaultTheme:focus:ring-[2px];
  @apply defaultTheme:hover:ring-[2px];
  @apply defaultTheme:focus:ring-[#0060df] #{!important};
  @apply defaultTheme:hover:ring-[#d4d4d4];
  @apply defaultTheme:transition-all;
  @apply duration-200 #{!important};

  // facebookTheme

  @apply facebookTheme:border-[#1d2a5b];
  @apply facebookTheme:m-0;
  @apply facebookTheme:pb-[4px];
  @apply facebookTheme:border-[1px];
  @apply facebookTheme:border-[#bdc7d8];
  @apply facebookTheme:text-[11px];
  @apply facebookTheme:p-[3px];
  @apply facebookTheme:rounded-none;
  @apply facebookTheme:text-[#333];

}

.generic_field.errored {

  @apply defaultTheme:ring-[2px];
  @apply defaultTheme:ring-red-700;
  @apply defaultTheme:transition-all;

}

.bottombar-link {

  @apply hover:text-gray-400;
  @apply transition-all;
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;
  @apply w-full;
  @apply px-2;
  @apply py-2;
  @apply rounded-lg;
  @apply overflow-hidden;
  @apply font-bold;
  @apply text-zinc-400;

  // facebookTheme

  @apply facebookTheme:text-white;

}

.bottombar-link p {

  @apply text-xs;

}

.bottombar-link.active {

  @apply text-white;

}

.btn-dropdown:disabled {

  @apply bg-zinc-950;
  @apply hover:border-zinc-800;
  @apply cursor-not-allowed;
  @apply text-gray-300;

}

.spinner {

  @apply h-full;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @apply text-black;
  color: black !important;

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// MD

.wmde-markdown {

  @apply bg-transparent #{!important};

}

.wmde-markdown blockquote {

  @apply bg-transparent #{!important};
  @apply hover:text-white;
  @apply transition-all;
  @apply hover:border-white #{!important};

}

/*.infobar-markdown {

  all: revert;
  @apply *:whitespace-pre-wrap; 
  @apply whitespace-pre-wrap;

}

.infobar-markdown hr {

  @apply border-b-[1px];
  @apply border-zinc-900;
  @apply mb-2;

}

.infobar-markdown h1 {

  @apply font-[600];
  @apply text-[1.5em];
  line-height: 1.25;
  @apply mt-[24px];
  @apply border-b-[1px];
  @apply border-zinc-900;
  @apply pb-[0.3em];

}

.infobar-markdown h2 {

  @apply font-[600];
  @apply text-[1.5em];
  line-height: 1.25;
  @apply mt-[24px];
  @apply border-b-[1px];
  @apply border-zinc-900;
  @apply pb-[0.3em];

} */

.markdown-body {

  @apply bg-transparent #{!important};
  @apply rounded-md;
  @apply *:rounded-md;

}

.markdown-body > p > img {

  @apply rounded-md;

}

// Loading

.post-loading-text {

  @apply text-lg;

  // facebookTheme

  @apply facebookTheme:font-bold;
  @apply facebookTheme:text-facebook_blue;

}

// Text

.header {

  @apply text-3xl; 
  @apply font-sans; 
  @apply font-bold; 
  @apply antialiased;

}

// Heroicon

.heroicon-sw-2 path {
  stroke-width: 2 !important;
}
.heroicon-sw-1\.75 path {
  stroke-width: 1.75 !important;
}
.heroicon-sw-1\.5 path {
  stroke-width: 1.5 !important;
}
.heroicon-sw-1\.2 path {
  stroke-width: 1.2 !important;
}