@tailwind base;
@tailwind components;
@tailwind utilities;

$accent-blue: #0284c7;

/*/ :root {

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

}

@media (prefers-color-scheme: dark) {

  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

}

body {

  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

} /*/

.navlink {

  @apply font-normal;
  @apply text-sm;
  @apply text-white;
  @apply decoration-2 transition-all;
  @apply bg-zinc-900;
  @apply hover:bg-zinc-800;
  @apply px-3;
  @apply py-2;
  @apply border;
  @apply border-zinc-800;
  @apply hover:border-zinc-700;
  @apply rounded-md;
  @apply flex;
  @apply gap-1.5;
  @apply items-center;
  @apply w-fit;

}

/*/ .navlink:focus {

  box-shadow: 0 0 0 .25rem $accent-blue;

} /*/

.navlink-full {

  @extend .navlink;
  @apply bg-white;
  @apply text-black;
  @apply hover:bg-neutral-300;

}

.navlink-sidebar {

  @extend .navlink;
  @apply h-8;
  @apply w-full;
  @apply bg-transparent;
  @apply border-0;

}

.navlink-sidebar.active {

  @apply bg-zinc-800;

}

.dropdown-menu {

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;

}

.dropdown-menu.open {
  
  max-height: 200px;
  transition: max-height 0.3s ease-in;

}


.link_bg-t-full {

  @extend .navlink;
  width: 100% !important;

}

.post-img {

  backdrop-filter: blur(5px);

}

.pos-unset {

  position: unset !important;

}